
@media screen and (min-width: 320px){
* {
	box-sizing: border-box;
}

html {
	margin: auto;
	border: 0.3em solid #3fa4ce;
	background-color: transparent;
}

h1 {
	font-size: 2em;
}

h2 {
	margin-top: 1em;
}

h2, h3 {
	font-size: 1.7em;	
}

 h3 a {
 	text-decoration: none;
 }

h4 {
	font-size: 1.5em;
}

h1, h2, h3, h4 {
	font-family: times new roman, serif;
}

header ul {
	list-style: none;
	margin: 0.5em;
	padding: 0;
}

header ul li {
	display: block;
	position: relative;
}

header li ul {
	display: none;
}

header a {
	text-decoration: none;
	color: inline;
}

header li a:hover {
	color: green;
	text-decoration: underline;
}

header li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
}

header li:hover li {
	float: none;
}

a{
	text-decoration: none;
}

p {
	padding-top: 2em;
	line-height: 1.4em;
	font-size: 1.3em;
	font-family: arial, sans-serif;
}

 img {
	margin: 0em;
	padding: 0.5em;
	max-width: 100%;
}


}

@media screen and (min-width: 640px){
	html {
		border: transparent;
	}

	body{
		background-color: #89dbf3;
	}

	header ul {
		text-align: center;
	}

	header ul li {
		display: inline-block;
		padding: 0 1.5em 0 1.5em;
		border: 0.1em solid black;
	}

	h3 {
		padding-top: 0.3em;
	}

	p {
		padding-top: 2.6em; 
	}
}

@media screen and (min-width: 960px){
h1, h2, h3, h4, p {
	padding-left: 0.5em;
  }

 h1 {
 	padding-top: 0.3em; 	
 } 

 h2, h3 {
 	padding-top: 0.5em;
 }
 
 #work, #camp, #como, #wild {
 	padding-left: 1em;
 }
}

