@media screen and (min-width: 320px){
html{
  margin: auto;
  background-color: transparent;
}

h1, h2, h3 {
  font-family: Century Gothic, serif;
  color: #476121;
}

h1{
  font-size: 250%;
  max-width: 100%;
  text-align: left;
}

h2{
  font-size: 170%;
  padding-top: 1.5em;
}

h3{
  font-size: 150%;
}

h1, h2, h3{
  font-style: italic;
}

header ul {
  max-width: 100%;
  text-align: left;
  }

header ul li {
  position: relative;
  display: block;
}

header a {
  text-decoration: none;
  color: #214d64;
}

header li a:hover {
  color: green;
  text-decoration: underline;
}

header li:hover ul {
  display: block;
  position: relative;
}

header li:hover li {
  float: none;
}

p, li{
  font-family: Verdana, sans-serif;
}

p{
  font-size: 100%;
  line-height: 1.8em;
  clear: both;
}

#enlarge img {
  max-width: 90%;
  padding: 0.5em;
  margin-top: 1em;
  transition: 1s ease;
}

#enlarge img:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}

.photos img{
  max-width: 100%;
}

}

@media screen and (min-width: 640px){

html {
	background-color: #a4d8dd;
}

h1{
	max-width: 40%;
	float: left;
  margin-left: 0.8em;
}

h2{
  margin-left: 1.3em;
	clear: both;
}

h3{
  margin-left: 1.3em;
}

header ul {
  list-style: none;
  max-width: 60%;
  float: left;
}

header ul li {
  display: inline-block;
  position: relative;
  padding-left: 0.2em;
  margin-top: 0.1em;
}

header li ul {
  display: none;
}

header a {
  text-decoration: none;
  color: #214d64;
}

header li a:hover {
  color: green;
  text-decoration: underline;
}

header li:hover ul {
  display: block;
  position: absolute;
  padding-left: 0.3em;
}

header li:hover li {
  float: none;
}

p{
	line-height: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
}

#enlarge img{
  margin-left: 1.3em;
  padding: 1em;
}

#enlarge img:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.photos img{
  margin-left: 2em;
}

#tropics {
  max-width: 95%;
}

#desert {
  max-width: 93%;
}

#mod {
  max-width: 92%;
}

#cont {
  max-width: 90%;
}

#ten {
  max-width: 95%;
}

#prep {
  max-width: 93%;
}

#tundra {
  max-width: 96%;
}

.campfire {
    padding: 5em;
    margin-top: 15em;
    width: 100%;
    height: 100%:
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 0%;
    clear: both;
    z-index: -1000;
}

.campfire html {
    background-color: rgba(246,255,246,1);
}

.campfire #description {
    position: fixed;
    bottom: 10px;
    width: 100%;
    z-index: 100;
    font-family: Helvetica;
    font-weight: 200;
    color: rgba(18,22,26,0.7);
    text-align: center;
    font-size: 11px;
    letter-spacing: 1px;
}

.campfire #animation {
    position: absolute;
    margin-top: -60px;
    top: 50%;
    left: 50%;
    -webkit-transform: scale( 1.5 , 1.5 );
}

.campfire .fire {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    z-index: 10;
    margin-top: -30px;
    margin-left: -10px;
}

.campfire .fire .top , .fire .middle , .fire .bottom {
    position: absolute;
}

.campfire .fire .top {
    margin-top:-10px;
    -webkit-transform: scale( 0.8 , 0.8 );
    -moz-transform: scale( 0.8 , 0.8 );
    -ms-transform: scale( 0.8 , 0.8 );
    -o-transform: scale( 0.8 , 0.8 );
    transform: scale( 0.8 , 0.8 );
}

.campfire .fire .middle {
    margin-top:-5px;
}

.campfire .fire .bottom div {
    position: absolute;
    border-bottom: 80px solid rgba(255,90,5,1);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 0px;
    height: 80px;
    border-radius: 80px;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.campfire .fire .middle div {
    position: absolute;
    border-bottom: 80px solid rgba(255,160,15,1);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 0px;
    height: 80px;
    border-radius: 70px;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.campfire .fire .top div {
    position: absolute;
    border-bottom: 80px solid rgba(255,210,25,1);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 0px;
    height: 80px;
    border-radius: 70px;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.campfire .fire .top div:nth-of-type(1){
    margin-top: -70px;
    margin-left: -13px;
    animation: fire 1.7s ease 0.5s infinite alternate none;
  -webkit-animation: fire 1.7s ease 0.5s infinite alternate none;
}

.campfire .fire .top div:nth-of-type(2){
    margin-top: -72px;
    margin-left: -25px;
    animation: fire 1.15s ease 0.1s infinite alternate none;
  -webkit-animation: fire 1.15s ease 0.1s infinite alternate none;
}

.campfire .fire .top div:nth-of-type(3){
    margin-top: -80px;
    margin-left: -45px;
    animation: fire 1.65s ease 0s infinite alternate none;
  -webkit-animation: fire 1.65s ease 0s infinite alternate none;
}


.campfire .fire .middle div:nth-of-type(4){
    margin-top: -50px;
    margin-left: -35px;
    animation: fire 1.25s ease 1s infinite alternate none;
  -webkit-animation: fire 1.25s ease 1s infinite alternate none;
}

.campfire .fire .middle div:nth-of-type(1){
    margin-top: -70px;
    margin-left: -13px;
    animation: fire 1.05s ease 0.5s infinite alternate none;
  -webkit-animation: fire 1.05s ease 0.5s infinite alternate none;
}

.campfire .fire .middle div:nth-of-type(2){
    margin-top: -59px;
    margin-left: -55px;
    animation: fire 1.75s ease 0.1s infinite alternate none;
  -webkit-animation: fire 1.75s ease 0.1s infinite alternate none;
}

.campfire .fire .middle div:nth-of-type(3){
    margin-top: -75px;
    margin-left: -35px;
    animation: fire 1.35s ease 0s infinite alternate none;
  -webkit-animation: fire 1.35s ease 0s infinite alternate none;
}

.campfire .fire .bottom div:nth-of-type(4){
    margin-top: -50px;
    margin-left: -15px;
    animation: fire 1.15s ease 1s infinite alternate none;
  -webkit-animation: fire 1.15s ease 1s infinite alternate none;
}

.campfire .fire .bottom div:nth-of-type(1){
    margin-top: -40px;
    margin-left: -62px;
    animation: fire 1.45s ease 0.5s infinite alternate none;
  -webkit-animation: fire 1.45s ease 0.5s infinite alternate none;
}

.campfire .fire .bottom div:nth-of-type(2){
    margin-top: -40px;
    margin-left: 5px;
    animation: fire 1.65s ease 0.1s infinite alternate none;
  -webkit-animation: fire 1.65s ease 0.1s infinite alternate none;
}

.campfire .fire .bottom div:nth-of-type(3){
    margin-top: -35px;
    margin-left: -35px;
    animation: fire 2.35s ease 0s infinite alternate none;
  -webkit-animation: fire 2.35s ease 0s infinite alternate none;
}

.campfire .logs {
    z-index: -1;
    margin-top: 10px;
}

.campfire .logs div:nth-of-type(1) {
    -webkit-transform: translate( -30px , -5px ) rotate( 35deg );
    -moz-transform: translate( -30px , -5px ) rotate( 35deg );
    -ms-transform: translate( -30px , -5px ) rotate( 35deg );
    -o-transform: translate( -30px , -5px ) rotate( 35deg );
    transform: translate( -30px , -5px ) rotate( 35deg );
    z-index: -2;
    background-color: rgba(90,86,82,1);
}

.campfire .logs div:nth-of-type(1):before {
    background-color: rgba(90,86,82,1);
    z-index: -1;
}

.campfire .logs div:nth-of-type(3) {
    -webkit-transform: translate( 30px , -5px ) rotate( -35deg );
    -moz-transform: translate( 30px , -5px ) rotate( -35deg );
    -ms-transform: translate( 30px , -5px ) rotate( -35deg );
    -o-transform: translate( 30px , -5px ) rotate( -35deg );
    transform: translate( 30px , -5px ) rotate( -35deg );
    background-color: rgba(60,56,52,1);
    z-index: -2;
}

.campfire .logs div:nth-of-type(3):before {
    background-color: rgba(60,56,52,1);
}

.campfire .logs div:nth-of-type(1):after , .logs div:nth-of-type(3):after {
    -webkit-transform: scale( 1 , 0.2 );
    -moz-transform: scale( 1 , 0.2 );
    -ms-transform: scale( 1 , 0.2 );
    -o-transform: scale( 1 , 0.2 );
    transform: scale( 1 , 0.2 );
}

.campfire .logs div {
    background-color: rgba(80,76,72,1);
    width: 40px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: 25px;
}

.campfire .logs div:before {
    background-color: rgba(80,76,72,1);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    content:"";
    -webkit-transform: scale( 1 , 0.35 );
    -moz-transform: scale( 1 , 0.35 );
    -ms-transform: scale( 1 , 0.35 );
    -o-transform: scale( 1 , 0.35 );
    transform: scale( 1 , 0.35 );
    margin-top:-20px;
}

.campfire .logs div:after {
    background-color: rgba(210,186,172,1);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    content:"";
    -webkit-transform: scale( 1 , 0.35 );
    -moz-transform: scale( 1 , 0.35 );
    -ms-transform: scale( 1 , 0.35 );
    -o-transform: scale( 1 , 0.35 );
    transform: scale( 1 , 0.35 );
    margin-top:60px;
}
@keyframes fire {
  66% { -webkit-transform: rotate(-6deg) scale(0.9,0.9); -moz-transform: rotate(-6deg) scale(0.9,0.9); -ms-transform: rotate(-6deg) scale(0.9,0.9); -o-transform: rotate(-6deg) scale(0.9,0.9); transform: rotate(-6deg) scale(0.9,0.9); opacity: 1;}
  100% { -webkit-transform: rotate(4deg) scale(0.7,0.7); -moz-transform: rotate(4deg) scale(0.7,0.7); -ms-transform: rotate(4deg) scale(0.7,0.7); -o-transform: rotate(4deg) scale(0.7,0.7); transform: rotate(4deg) scale(0.7,0.7); opacity: 0.7;}
  0% { -webkit-transform: rotate(-5deg) scale(0.8,0.8); -moz-transform: rotate(-5deg) scale(0.8,0.8); -ms-transform: rotate(-5deg) scale(0.8,0.8); -o-transform: rotate(-5deg) scale(0.8,0.8); transform: rotate(-5deg) scale(0.8,0.8); opacity: 0.7;}
  26% { -webkit-transform: rotate(3deg) scale(1,1); -moz-transform: rotate(3deg) scale(1,1); -ms-transform: rotate(3deg) scale(1,1); -o-transform: rotate(3deg) scale(1,1); transform: rotate(3deg) scale(1,1); opacity: 0.9;}
}

@-webkit-keyframes fire {
  66% { -webkit-transform: rotate(-6deg) scale(0.9,0.9); -moz-transform: rotate(-6deg) scale(0.9,0.9); -ms-transform: rotate(-6deg) scale(0.9,0.9); -o-transform: rotate(-6deg) scale(0.9,0.9); transform: rotate(-6deg) scale(0.9,0.9); opacity: 1;}
  100% { -webkit-transform: rotate(4deg) scale(0.7,0.7); -moz-transform: rotate(4deg) scale(0.7,0.7); -ms-transform: rotate(4deg) scale(0.7,0.7); -o-transform: rotate(4deg) scale(0.7,0.7); transform: rotate(4deg) scale(0.7,0.7); opacity: 0.7;}
  0% { -webkit-transform: rotate(-5deg) scale(0.8,0.8); -moz-transform: rotate(-5deg) scale(0.8,0.8); -ms-transform: rotate(-5deg) scale(0.8,0.8); -o-transform: rotate(-5deg) scale(0.8,0.8); transform: rotate(-5deg) scale(0.8,0.8); opacity: 0.7;}
  26% { -webkit-transform: rotate(3deg) scale(1,1); -moz-transform: rotate(3deg) scale(1,1); -ms-transform: rotate(3deg) scale(1,1); -o-transform: rotate(3deg) scale(1,1); transform: rotate(3deg) scale(1,1); opacity: 0.9;}
}

}


