* {
	box-sizing: border-box;
}
html {
	margin: 2em auto;
	background-color: #3a6a8e;
}
body {
	border: 0.5em solid #207e32;
	font-family: Arial, Verdana, georgia, sans-serif;
	font-size: 0.8em;
	line-height: 1.3;
	padding: 0.5em;
	background-color: #fff;
}
.menu ul {
	max-width: 45%;
	list-style-type: none;
	margin: 0;
	padding-right: 4.5em;
	float: right;
}
.menu li {
	display: inline-block;
	margin: 0.5em;
}
.menu a {
	text-decoration: none;
	color: #366cb6;
}
.menu li a:hover {
	color: #772472;
	text-decoration: none;
}
h1, h2 {
	font-family: georgia, times, Verdana, sans-serif;
	color: #207e32;
}
h1 {
	font-size: 250%;
	max-width: 40%;
	float: left;
	padding-left: 0.5em;
}
h2 {
	font-size: 130%;
	border-bottom: 0.1em dotted #336748;
	clear: both;
}
.general {
	max-width: 45%;
	float: left;
	clear: both;
	padding-left: 2em;
}
.facts {
	max-width: 45%;
	float: right;
	padding-right: 1.3em;
}
.headline h2 {
	padding-left: 1.3em;
}
.slideshow {
	margin: 75px auto;
	position: relative;
	width: 600px;
	height: 400px;
	padding: 15px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0, 5);
}

.slideshow img {
	max-width: 100%;
}

.slideshow > div {
	position: absolute;	
	top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.sports {
	max-width: 45%;
	float: left;
	padding-left: 1.3em;
	clear: both;
}
.camp {
	max-width: 45%;
	float: right;
	padding-right: 1.3em;
}

.cabin {
	clear: both;
	padding: 1em 0em 0em 1.3em;
}

.cabin img {
	border: 0.5em solid #207e32;
}

#data {
	border: 0.1em solid #1b295c;
}
#data th, td {
	border: 0.1em solid #1b295c;
	text-align: center;
}
.levels {
	max-width: 45%;
	float: left;
	padding: 0.5em 0.5em 0.5em 1.5em;
	margin-bottom: 1em;
	clear: both;
}
.cost {
	max-width: 45%;
	float: right;
	padding: 0.5em 2em 0.5em 0.5em;
	margin-bottom: 1em; 
}
.request{
	padding-left: 1.5em;
}

footer {
	font-size: 85%;
	font-style: italic;
	clear: both;
}


@media screen and (max-width: 750px){

.menu ul {
	padding: 0;
	text-align: left;
}
.menu li {
	display: block;
	float: none;
}
.general {
	max-width: 100%;
	float: none;
}
.facts {
	max-width: 100%;
	float: none;
}

.slideshow img {
	max-width: 70%;
}

.sports {
	max-width: 100%;
	float: none;
	padding: 0;
}
.camp {
	max-width: 100%;
	float: none;
	padding: 0;
}
 .cabin img {
	max-width: 80%;
}
.request{
	padding-left: 1.5em;
}
.levels {
	max-width: 100%;
	float: none;
	padding: 0;
	margin-bottom: 1em;
}
.cost {
	max-width: 100%;
	float: none;
	padding: 0; 
}
.request {
	padding: 0;
}
}

@media screen and (max-width: 400px){
	h1{
		max-width: 100%;
		float: none;
	}
	.menu ul{
		max-width: 100%;
		float: left;
		margin-bottom: 1em;
	}
	.menu li{
		margin: 0;
	}

   .slideshow img {
	    max-width: 55%;
    }

}
